<html>
<head>Angular JS</head>


<body ng-app="myApp">
<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
<script src ="myapp.js"></script>


<div ng-controller="myappcontroller">
Limit the no of rows to be displayed <input type="number" step="1" min="0" max="5" ng-model="rowlim">
</br>
sort by
</br>
<select ng-model="sortcol">
<option value="+Name">Name ASC</option>
	<option value="-Name">Name desc</option>
		<option value="+Salary">Salary asc</option>

		<option value="-Salary">salary desc</option>


</select>
</br>
<table>

<th>
	<tr>
		<td>Name</td>
				<td>Tech</td>

		<td>
			Salary (Number)
		</td>
		<td>
			Salary (Currency)
		</td>

		<td>DOB</td>


	</tr>

</th>

<tbody>
	<tr ng-repeat="emp in employees | limitTo:rowlim:0 |orderBy:sortcol">
		<td>{{emp.Name | uppercase}}</td>
				<td>{{emp.tech | lowercase}}</td>
		<td>{{emp.Salary | number:2}}</td>
		<td>{{emp.Salary | currency:"INR"}}</td>
		<td>{{emp.DOB | date:"dd-MMM-yyyy"}}</td>




	</tr>



</tbody>

</table>





</div>


</body>

</html>
