<html>
<head>Angular JS</head>


<body ng-app="myApp">
<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
<script src ="myapp.js"></script>


<div ng-controller="myappcontroller">

<table>
	
<th>
	<tr>
		<td>Tech  Name</td>
				<td>Likes</td>

		<td>
			Dislikes
		</td>

		<td>Click to Like or Dislike</td>


	</tr>

</th>

<tbody>
	<tr ng-repeat="tech in technologies">
		<td>{{tech.Name}}</td>
				<td>{{tech.likes}}</td>
		<td>{{tech.dislikes}}</td>
		<td><input type="button" value ='like' ng-click="increment(tech)"><input type="button" value ='Dislike' ng-click="decrement(tech)"></td>



	</tr>
	


</tbody>

</table>





</div>


</body>

</html>